* {
    box-sizing: border-box;
    margin: 0;
}

h1 {font-size: 1.375rem;}

h2 {font-size: 1.125rem;}

h3 { font-size: 1rem;}

img {
    width: 100%;
    display: block;
}

body {
    font-family: sans-serif
}

strong {
    color: #000;
    font-weight: bold;
}

li {
    line-height: 1.5;
}

footer {
    background-color: #000;
    min-height: 16rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 3rem;
}

/* NAV BAR STYLES */

header {
    background-color:  hsla(0, 0%, 0%, 1);
    color: #d6d6d6;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    min-height: 6rem;

}

.hide {
    display: none;
}

.hamburger-menu .line {
    display: block;
    height: 2px;
    width: 1.5rem;
    background-color: white;
    margin-bottom: 6px;
}

.hamburger-menu {
    border: 1px solid white;
    padding: 0.75rem 0.65rem 0.35rem 0.65rem;
    border-radius: 5px;
    margin-right: 1rem;


}

.nav-menu li {
    text-align: left;
    list-style: none;
    padding: 0.25rem 0 0.35rem 1rem;
}

.nav-menu {
    position: absolute;
    width: 100%;
    top: 7rem;
    background-color: hsla(0, 0%, 0%, 1);

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 7rem;
    width: 7rem;
    margin: 0 0 0 1rem;

}

.logo img {
    display: block;
    height: auto;
    width: 100%;
}


.cta-button {
    background-color: #CD0000;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 1.25rem 2.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.cta-button-card {
    background-color: #CD0000;
    color: white;
    border:none;
    border-radius: 5px;
    padding: .75rem 1.25rem;
    margin: 2rem 2.75rem 2rem 4.75rem;
    


    
}

.hero {
    background-image: url("./img/testpic.jpeg");
    background-position:left ;
    background-repeat: no-repeat;
    min-height: 53rem;
    position: relative;

}

.hero-banner {
    min-height: 10rem;
    min-width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;

}

.hero-title {
    font-weight: 700;
    color: #fff;
    padding: 0.75rem 0 2.25rem 0;
    font-size: 1.75rem;
}

.section-title {
    font-weight: 500;
    display: block;
    margin: 0 2rem 0 2rem;
    color: #6C757D;
}

.card-title {
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
}

.section-description {
    display: block;
    margin: .5rem 2rem 3rem 2rem;
    font-size: .625rem;
    color: #6C757D;
}

.section-card {
    min-height: 18.75rem;
    max-width: 21rem;
    background-color: #CED4DA;
    margin: 2rem auto;
    border-radius: 10px;
}

.flex-container {
    display: flex;

}
/* ABOUT SECTION */
.about-section {
    background-color: #050c14;
    min-height:55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;


}

.top {
    z-index: 3;
    background-color: linear-gradient(0,0,0,0.5);
}



.about-container {
    max-width: 22rem;
    max-height: 22rem;
    position: absolute;
    offset: 0;


}




.about-container img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 0 5px 5px 0;
    z-index: 2;

}

.about-container p {
    border-radius: 5px;
    padding: .5rem;
    background-color: hsla(0, 0%, 0%, .8);
    line-height: 1.25;
    font-family: sans-serif;
    margin: 0 0 10rem 1rem;
    min-height: 8rem;
    width: 15rem;
    color: white;

}


/*  slider syles */

.carousel-title {
text-align: center;
padding: 3rem 0 7rem 0;
font-size: 1.5rem;
}


.carousel-container {
    display: grid;
    place-items: center;
}


.carousel {
padding-bottom: 20rem;
min-width: 22rem;
max-width: 22rem;
margin: 2rem 0;
position: relative;



}

.slide {
position: absolute;
inset: 0;
opacity: 0;


}

.slide[data-active] {
    opacity: 1;

}

.slide > img {
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    min-height: 16rem;
    max-height: 22rem;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    

}

.carousel-btn {
    position: absolute;
    z-index: 2;
    bottom: 40%;

}

.prev {
    left: .5rem;
}

.next {
    right: .5rem;
}


.company-policy {
    background-image: url("./img/test-policy.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 35rem;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 7rem ;

}

.company-policy__banner {
    max-height: 20rem;
    min-height: 20rem;
    min-width: 17.5rem;
    max-width: 17.5rem;
    margin: 2rem auto;
    background-color: hsla(0, 0%, 0%, .8);
    border-radius: 5px;
    position: absolute;
    top: 18%;
}

.company-policy__banner__title {
    font-size: .875rem;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin: 1rem 2rem;
}

.company-policy__banner__description {
    color: white;
    font-size: 1em;
    text-align: start;
    margin: 3rem 2rem ;
    font-weight: 100;
    line-height: 1.35rem;
}

.copyright {
    color: white;
    max-width: 19rem;
    font-size: 1em;
}