* {
    box-sizing: border-box;
    margin: 0;
}

h1 {font-size: 1.375rem;}

h2 {font-size: 1.125rem;}

h3 { font-size: 1rem;}

img {
    width: 100%;
    display: block;
}

body {
    font-family: sans-serif
}

strong {
    color: #000;
    font-weight: bold;
}

li {
    line-height: 1.5;
}

footer {
    background-color: #212529;
    min-height: 16rem;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 3rem;
}

/* NAV BAR STYLES */

header {
    background-color:  hsla(0, 0%, 0%, 0.9);
    color: #d6d6d6;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    min-height: 6rem;
}

nav {
    display: none;
    background-color: hsla(0, 0%, 0%, 0.9); 
    width: 100%;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.logo {
    color: #fff;

}
.nav-toggle-label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;

}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    display: block;

}

.cta-button {
    background-color: #CD0000;
    color: white;
    border:none;
    border-radius: 4px;
    padding: 1.25rem 2.25rem;
}

.cta-button-card {
    background-color: #CD0000;
    color: white;
    border:none;
    border-radius: 4px;
    padding: .75rem 1.25rem;
    margin: 2rem 2.75rem 2rem 4.75rem;


    
}

.hero {
    background-image: url("/testpic.webp");
    background-position: ;
    background-repeat: no-repeat;
    min-height: 40rem;
    position: relative;

}

.hero-banner {
    min-height: 10rem;
    min-width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;

}

.hero-title {
    font-weight: 700;
    color: #fff;
    padding: .75rem 0;
}

.section-title {
    font-weight: 500;
    display: block;
    margin: 5rem 2rem 0 2rem;
    color: #6C757D;
}

.card-title {
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
}

.section-description {
    display: block;
    margin: .5rem 2rem 3rem 2rem;
    font-size: .625rem;
    color: #6C757D;
}

.section-card {
    min-height: 18.75rem;
    max-width: 21rem;
    background-color: #CED4DA;
    margin: 2rem auto;
    border-radius: 10px;
}

.flex-container {
    display: flex


}

/*  slider syles */

.carousel-title {
text-align: center;
margin-top: 5rem;


}


.carousel-container {
    display: grid;
    place-items: center;
}


.carousel {
padding-bottom: 20rem;
min-width: 20rem;
max-width: 20rem;
margin: 2rem 0;
position: relative;



}

.slide {
position: absolute;
inset: 0;
opacity: 0;


}

.slide[data-active] {
    opacity: 1;

}

.slide > img {
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    min-height: 16rem;
    max-height: 16rem;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    

}

.carousel-btn {
    position: absolute;
    z-index: 2;
    bottom: 55%;

}

.prev {
    left: .5rem;
}

.next {
    right: .5rem;
}


.company-policy {
    background-image: url("/test-policy.avif");
    background-size: cover;
    background-position: center;
    min-height: 35rem;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 2rem ;

}

.company-policy__banner {
    max-height: 20rem;
    min-height: 20rem;
    min-width: 17.5rem;
    max-width: 17.5rem;
    margin: 2rem auto;
    background-color: hsla(0, 0%, 0%, .8);
    border-radius: 5px;
    position: absolute;
    top: 18%;
}

.company-policy__banner__title {
    font-size: .875rem;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    margin: 1rem 2rem;
}

.company-policy__banner__description {
    color: white;
    font-size: 1em;
    text-align: start;
    margin: 3rem 2rem ;
    font-weight: 100;
    line-height: 1.35rem;
}

.copyright {
    color: white;
    max-width: 19rem;
    font-size: 1em;
}